@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light, dark --default;
}

/* Custom Font Example */

@layer base {
  @font-face {
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: 400;
    src: url('./ProggyVector.ttf') format('truetype');
  }
}

@layer components {
  .font-custom {
    font-family: 'CustomFont', sans-serif;
  }
}
